version: "3.9"

services:
  bot:
    build: .
    container_name: habit_tracker_bot
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./logs:/app/logs

  db:
    image: postgres:15
    container_name: habit_tracker_db
    restart: always
    environment:
      POSTGRES_DB: habittracker_bot
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data: